<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zyf.fwms.commonlibrary">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 获取GSM网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许获取Wi-Fi网络状态改变信息 -->
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- SD 卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--//地图包、搜索包需要的基础权限-->

    <!--//定位包、导航包需要的额外权限（注：基础权限也需要）-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <!-- 拍照-->
        <activity android:name=".photo.CameraActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Translucent" />
        <!-- 显示图片界面 -->
        <activity
            android:name=".utils.ImageShowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparent" />
        <!-- 重启服务 -->
        <service
            android:name=".server.killSelfService"
            android:process=":remote233" />
        <!-- 路由URL 跳转 -->
        <activity android:name="com.zyf.fwms.commonlibrary.base.SchameFilterActivity">

            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="h890.hangzhou.school"
                    android:scheme="arouter" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="m.aliyun.com"
                    android:scheme="http" />
                <data
                    android:host="m.aliyun.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".x5webview.UrlWebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:process=":webView"
            android:theme="@style/ThemeSwipeBack"/>
    </application>

</manifest>
